@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 24 100% 95%;
    --foreground: 152 70% 20%;
    --card: 24 100% 98%;
    --card-foreground: 152 70% 20%;
    --popover: 24 100% 98%;
    --popover-foreground: 152 70% 20%;
    --primary: 152 70% 41%;
    --primary-foreground: 24 100% 98%;
    --secondary: 4 79% 56%;
    --secondary-foreground: 24 100% 98%;
    --muted: 152 30% 96%;
    --muted-foreground: 152 40% 40%;
    --accent: 4 79% 56%;
    --accent-foreground: 24 100% 98%;
    --destructive: 4 79% 56%;
    --destructive-foreground: 24 100% 98%;
    --border: 4 30% 80%;
    --input: 152 30% 80%;
    --ring: 4 79% 56%;
    --chart-1: 152 70% 41%;
    --chart-2: 4 79% 56%;
    --chart-3: 24 100% 95%;
    --chart-4: 152 50% 60%;
    --chart-5: 4 60% 70%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 152 30% 10%;
    --foreground: 24 100% 95%;
    --card: 152 30% 15%;
    --card-foreground: 24 100% 95%;
    --popover: 152 30% 15%;
    --popover-foreground: 24 100% 95%;
    --primary: 152 70% 41%;
    --primary-foreground: 24 100% 98%;
    --secondary: 4 79% 56%;
    --secondary-foreground: 24 100% 98%;
    --muted: 152 30% 20%;
    --muted-foreground: 152 20% 70%;
    --accent: 4 79% 56%;
    --accent-foreground: 24 100% 98%;
    --destructive: 4 79% 56%;
    --destructive-foreground: 24 100% 98%;
    --border: 4 30% 30%;
    --input: 152 30% 30%;
    --ring: 4 79% 56%;
    --chart-1: 152 70% 41%;
    --chart-2: 4 79% 56%;
    --chart-3: 24 80% 80%;
    --chart-4: 152 50% 60%;
    --chart-5: 4 60% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
